{{widget::Header}}

<main class="clouds mt">
    <a href="/catalog/123" class="grid_4 alizarin height_5 bm catalogLink">
        <div>Сладкая осень</div>
    </a>

    <a href="/catalog/123" class="grid_4 alizarin height_5 bm catalogLink">
        <div>Вкусная сладость</div>
    </a>

    <a href="/catalog/123" class="grid_4 alizarin height_5 bm catalogLink">
        <div>Нежная сырость</div>
    </a>

    <a href="/catalog/all" class="grid_12 peterriver height_6 catalogLink mt" >
        <div>Смотреть все коллекции</div>
    </a>

    <br class="clear">
</main>

{{widget::Footer}}