{{widget::Header}}

<div class="peterriver height_8 mt animated">
    <a href="/catalog" class="mainCatalogBtn grid_3 turquoese push_4" style="margin-top: 480px">Каталог</a>
</div>

<main class="clouds height_8" style="margin-top: 20px">
    <div class="grid_8 height_8">
        <div class="height_4 mainPopular">
            <div class="mainPopularHead">
                <h2>Популярное</h2>
            </div>
            <div class="mainPopularSlider">
                <div>&larr;</div>
                <div class="mainPopularSliderContent">1</div>
                <div>&rarr;</div>
                <br class="clear">
            </div>
        </div>
        <div class="height_4 mt mainPopular">
            <div class="mainPopularHead">
                <h2>Коллекции</h2>
            </div>
            <div class="mainPopularSlider">
                <div>&larr;</div>
                <div class="mainPopularSliderContent">1</div>
                <div>&rarr;</div>
                <br class="clear">
            </div>
        </div>
    </div>

    <div class="grid_4 height_8">
        <div class="height_5">
            <h2>Новинка</h2>
            <div style="width: 100%;height: 91.5%" class="peterriver">12</div>
        </div>
        <div class="height_3 mt mainBlogLinks">
            <h2>Блог</h2>
            <a href="">
                <div>Как заказать костюм?</div>
                <div>12.23.2015</div>
                <br class="clear">
            </a>
            <a href="">
                <div>Как заказать костюм?</div>
                <div>12.23.2015</div>
                <br class="clear">
            </a>
            <a href="">
                <div>Как заказать костюм?</div>
                <div>12.23.2015</div>
                <br class="clear">
            </a>
            <a href="">
                <div>Как заказать костюм?</div>
                <div>12.23.2015</div>
                <br class="clear">
            </a>
            <a href="">
                <div>Как заказать костюм?</div>
                <div>12.23.2015</div>
                <br class="clear">
            </a>
            <a href="">
                <div>Смотреть все статьи</div>
                <div></div>
                <br class="clear">
            </a>
        </div>
    </div>
</main>

{{widget::Footer}}