{{widget::Header}}

<main class="clouds mt">
    <div class="height_6 wetasphalt"></div>
    <div class="grid_12">
        <h1>Как выбрать костюм?</h1>
        <div class="blogText pb">
            Биогаз - это процесс переработки биомассы в биогаз, который заключается в том, чтобы поместить биологические отходы (навоз, стоки очистных сооружений и т.п.) в ёмкости, которые называются реакторы (ферментерами). Такая емкость должна быть плотно закрыта, чтобы обеспечить безкислородное брожение отходов, которые время от времени необходимо перемешивать. Температура процесса должна быть 39-42 C.
             	Спустя несколько недель из реакторов начнет выделяться горючий газ.Состав и качество биогаза примерно следующее: 50—87 % метана, 13—50 % CO2, незначительные примеси H2 и H2S. После очистки биогаза от СО2 получается биометан. Биометан — полный аналог природного газа, отличие только в происхождении.
            <br>
            <br>
            Биогаз - это процесс переработки биомассы в биогаз, который заключается в том, чтобы поместить биологические отходы (навоз, стоки очистных сооружений и т.п.) в ёмкости, которые называются реакторы (ферментерами). Такая емкость должна быть плотно закрыта, чтобы обеспечить безкислородное брожение отходов, которые время от времени необходимо перемешивать. Температура процесса должна быть 39-42 C.
             	Спустя несколько недель из реакторов начнет выделяться горючий газ.Состав и качество биогаза примерно следующее: 50—87 % метана, 13—50 % CO2, незначительные примеси H2 и H2S. После очистки биогаза от СО2 получается биометан. Биометан — полный аналог природного газа, отличие только в происхождении.

        </div>

        <div style="text-align: right" class="pb">
            12.23.2015
        </div>

        <div class="mb">
            <div class="grid_4 alizarin alpha">&larr;</div>
            <div class="grid_4 turquoese">Logo</div>
            <div class="grid_4 pumpkin omega">&rarr;</div>
            <div class="clear"></div>
        </div>

    </div>
    <br class="clear">
</main>

{{widget::Footer}}